{% extends 'Base.html' %}

{%block title%} Reporte Horizontal {% endblock%}

{% block content %} 
    {% comment %} <div class="login-box">
        <h2>Reporte Horizontal</h2>
        <form action="/procesar/" method="GET">
        <div class="user-box">
            <input type="text", ID = "id", name = "id">
            <label>Id periodo</label>
        </div>
        <input type="submit" value="Enviar">
        <!-- <a href="/procesar/35132">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a> -->
        </form>
    </div> {% endcomment %}
    <section class="login">
		<div class="login_box">
			<div class="left">
				<div class="contact">
					<form action="/procesar/" method="GET">
						<h3>REPORTE HORIZONTAL</h3>
						<input type="text" placeholder="ID PERIODO",ID = "id", name = "id">
						<button class="submit">LET'S GO</button>
					</form>
				</div>
			</div>
			
		</div>
	</section>
{% endblock  %}